{% extends 'dashboard/basic.html' %}

{% block title %} Add Doctor {% endblock title %}



{% block content %}
<!-- Breadcrumb -->
<!-- Page Title -->
<div class="container mt-0">
   <div class="row breadcrumb-bar">
      <div class="col-md-6">
         <h3 class="block-title">Add Doctor</h3>
      </div>
      <div class="col-md-6">
         <ol class="breadcrumb">
            <li class="breadcrumb-item">
               <a href="{% url 'dashboard' %}">
               <span class="ti-home"></span>
               </a>
            </li>
            {% comment %} <li class="breadcrumb-item">Patients</li>
            <li class="breadcrumb-item active">Add Doctor</li> {% endcomment %}
         </ol>
      </div>
   </div>
</div>
<!-- /Page Title -->
<!-- Breadcrumb -->
			->
			
			<!-- /Page Title -->

			<!-- /Breadcrumb -->
			<!-- Main Content -->
			<div class="container">

				<div class="row">
					<!-- Widget Item -->
					<div class="col-md-12">
						<div class="widget-area-2 proclinic-box-shadow">
							<h3 class="widget-title">Add Doctor</h3>
							<form method="post" action="{% url 'add_doctor' %}">
								{% csrf_token %}
								<div class="form-row">
									
									
									<div class="form-group col-md-6">
										<label for="dr_name">Doctor Name</label>
										<input type="text" class="form-control" placeholder="Doctor name" id="dr_name" name="dr_name">
									</div>
									 <div class="form-group col-md-6">
										<label for="education"> Education</label>
										<input type="text" class="form-control" placeholder=" Education" id="education" name="education">
									</div> 
									<div class="form-group col-md-6">
										<label for="dob">Date Of Birth</label>
										<input type="date" placeholder="Date of Birth" class="form-control" id="dob" name="dob">
									</div>
									<div class="form-group col-md-6">
										<label for="age">Age</label>
										<input type="text" placeholder="Age" class="form-control" id="age" name="age">
									</div>
									<div class="form-group col-md-6">
										<label for="phone">Phone</label>
										<input type="text" placeholder="Phone" class="form-control" id="phone" name="phone">
									</div>
									<div class="form-group col-md-6">
										<label for="email">Email</label>
										<input type="email" placeholder="email" class="form-control" id="Email" name="email">
									</div>
									<div class="form-group col-md-6">
										<label for="gender">Gender</label>
										<select class="form-control" id="gender" name="gender">
											<option>Male</option>
											<option>Female</option>
											<option>Other</option>
										</select>
									</div>
									<div class="form-group col-md-12">
										<label for="exampleFormControlTextarea1">Address</label>
										<textarea placeholder="Address" class="form-control" id="exampleFormControlTextarea1" rows="3" name="address"></textarea>
									</div>

									<div class="form-check col-md-12 mb-2">
										{% comment %} <div class="text-left">
											<div class="custom-control custom-checkbox">
												<input class="custom-control-input" type="checkbox" id="ex-check-2">
												<label class="custom-control-label" for="ex-check-2">Please Confirm</label>
											</div>
										</div> {% endcomment %}
									</div>
									<div class="form-group col-md-6 mb-3">
										<button type="submit" class="btn btn-primary btn-lg">Submit</button>
									</div>
								</div>
							</form>
							{% comment %} <!-- Alerts-->
							<div class="alert alert-success alert-dismissible fade show" role="alert">
								<strong>Successfully Done!</strong> Please add payment now
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">×</span>
								</button>
							</div>
							<div class="alert alert-warning alert-dismissible fade show" role="alert">
								<strong>Holy guacamole!</strong> You should check in on some of those fields below.
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">×</span>
								</button>
							</div> {% endcomment %}
							<!-- /Alerts-->
						</div>
					</div>
					<!-- /Widget Item -->
				</div>
			</div>
			<!-- /Main Content -->
<!-- /Main Content -->
{% endblock content %}