{% extends 'dashboard/basic.html' %}

{% block title %} Add Appointment {% endblock title %}



{% block content %}
<!-- /Page Title -->
<!-- Breadcrumb -->
			->
			
			<!-- /Page Title -->

			<!-- /Breadcrumb -->
			<!-- Main Content -->








			<div class="container">

				<div class="row">
					<!-- Widget Item -->
					<div class="col-md-12">
						<div class="widget-area-2 proclinic-box-shadow">
							<h3 class="widget-title">Add Appointment</h3>
							<form method="post" action="{% url 'add_appointment' %}">
								{% csrf_token %}
								<div class="form-row">
									
									<div class="form-group col-md-6">
										<label for="patient_id">Patient Id</label>
										<input type="text" class="form-control" placeholder="Patient Id" id="patient_id" name="patient_id">
									</div>
									<div class="form-group col-md-6">
										<label for="patient_name">Patient Name</label>
										<input type="text" class="form-control" placeholder="patient name" id="patient_name" name="patient_name">
									</div>
									<div class="form-group col-md-6">
										<label for="department">Department</label>
										<input type="text" class="form-control" placeholder="Department" id="department" name="department">
									</div>
									<div class="form-group col-md-6">
										<label for="doctor_name">Doctor Name</label>
										<input type="text" class="form-control" placeholder="Doctor Name" id="doctor_name" name="doctor_name">
									</div>
									<div class="form-group col-md-6">
										<label for="appointment_date">Appointment Date</label>
										<input type="date" placeholder="Date of Birth" class="form-control" id="appointment_date" name="appointment_date">
									</div>
									<div class="form-group col-md-6">
										<label for="time_slot">Time Slot</label>
										<input type="text" placeholder="time slot" class="form-control" id="time_slot" name="time_slot">
									</div>
									<div class="form-group col-md-6">
										<label for="problem">Problem</label>
										<input type="text" placeholder="problem" class="form-control" id="problem" name="problem">
									</div>
									
									<div class="form-check col-md-12 mb-2">
										{% comment %} <div class="text-left">
											<div class="custom-control custom-checkbox">
												<input class="custom-control-input" type="checkbox" id="ex-check-2">
												<label class="custom-control-label" for="ex-check-2">Please Confirm</label>
											</div>
										</div> {% endcomment %}
									</div>
									<div class="form-group col-md-6 mb-3">
										<button type="submit" class="btn btn-primary btn-lg">Submit</button>
									</div>
								</div>
							</form>
							
							<!-- /Alerts-->
						</div>
					</div>
					<!-- /Widget Item -->
				</div>
			</div>





{% endblock content %}








			
